* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
}
.toolbar {
  margin: auto;
  width: 90%;
  button,select{
    width: auto;
    height: 30px;
    padding: 3px 5px;
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
  }
}
.note-list {
  width: 90%;
  height: min-content;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(251, 255, 226);
  .note {
    width: 300px;
    height: min-content;
    display: flex;
    flex-direction: column;
    border-radius: 23px;
    background-color: rgb(233, 236, 84);
    transition: .3s;
    border: 2px dashed rgb(179, 114, 40);
    margin: 5px;
    box-shadow: 1px 1px 5px 1px rgba(142, 169, 44, 0.2);
    .tag-list {
      width: 95%;
      height: 50px;
      display: flex;
      margin: 5px auto;
      overflow-x: auto;
      overflow-y: hidden;
      li {
        min-width: max-content;
        font-size: 15px;
        height: 30px;
        margin: 5px 10px;
        border-radius: 5px;
        padding: 3px 5px;
        background-color: rgb(200, 209, 157);
        transition: .3s;
        list-style-type: "#";
        cursor: pointer;
        box-shadow: 1px 1px 5px rgba(93, 91, 91, 0.5);
        &:hover {
          box-shadow: 1px 1px 1px rgba(93, 91, 91, 0.5);
          &::after {
            content: "Search this!";
            position: absolute;
            width: 90px;
            height: 25px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 3px;
            z-index: 0;
          }
        }
      }
    }
    .note-footer {
      width: 90%;
      margin: 5px auto;
      height: min-content;
      button {
        padding: 3px 5px;
        background-color: rgb(220, 193, 73);
        border: none;
        border-radius: 5px;
        margin: auto 5px;
        cursor: pointer;
        &:hover {box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);}
      }
    }
    .note-container {
      height: 250px;
      width: 90%;
      margin: auto;
      position: relative;
      
    }
    .note-body {
      font-weight: 400;
      width: 100%;
      height: auto;
      resize: none;
      margin: auto;
      overflow: hidden;
      background-color: inherit;
      border: none;
      overflow-y: auto;
      font-size: 20px;
      position: absolute;
      z-index: 2;
    }
    p.note-body {
      z-index: 0;
      .mark {
        text-decoration: underline;
      }
    }
  }
}

.note-info {
  width: 80%;
  margin: 10px auto;
  height: max-content;
  border-radius: 20px;
}